<%- include('./partials/header') %>

<div class="container mt-5">

  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <p class="lead">Welcome to <%= title %></p>
  </div>

  <div class="row">
    <div class="col-md-8">
      <!-- Quote section -->
      <blockquote class="blockquote">
        <p class="mb-2">Food is symbolic of love when words are inadequate</p>
        <footer class="blockquote-footer">Aland D. Wolfelt</footer>
      </blockquote>
    </div>
  </div>

</div>



  <%- include('./partials/footer') %>