<%- include('./partials/header') %>

  <div class="container mt-5">

    <div class="jumbotron">
      <h1 class="display-5" id="welcomeTitle">
        <%= title %>
      </h1>
    </div>

    <div class="row">
      <div class="col-md-8 fw-light ">
        <!-- Quote section -->
        <blockquote class="blockquote">
          <p class="mb-2 fs-3">Food is symbolic of love when words are inadequate</p>
          <footer class="blockquote-footer">Aland D. Wolfelt</footer>
        </blockquote>
      </div>
      <p class="col-md-8 information">
        Welcome to the saucy and sizzling world of the LeBlanc Family Recipes—where flavor reigns supreme and taste buds
        do the happy dance! Prepare yourself for a mouthwatering adventure as we whisk you away to a culinary wonderland
        packed with secret ingredients, delightful flavors, and a sprinkle of family mischief.
        <br><br>

        Our recipe collection is like a well-stirred cauldron of gastronomic magic, passed down through generations of
        mischievous LeBlancs who have mastered the art of concocting dishes that will make your taste buds burst into a
        standing ovation. Prepare for a rollercoaster ride of flavors that will leave you wanting seconds, thirds, and
        fourths!
        <br><br>
        But we're not just about tantalizing your taste buds; we're here to sprinkle some laughter and joy into your
        culinary journey too! Our recipes come with a side dish of hilarity, seasoned with cheesy puns, food-related
        jokes, and a generous helping of family anecdotes that will leave you chuckling like a pot of boiling soup.
        <br><br>
        So, whether you're a kitchen novice searching for your culinary calling or a seasoned chef looking to add some
        pizzazz to your repertoire, join the LeBlanc Family Recipes adventure and unlock a world of deliciousness that
        will have your friends begging for the secret recipe—though we'll have to think about it, because we don't want
        to start a food revolution just yet!
        <br><br>
        Get ready to stir, mix, and laugh your way to foodie glory with the LeBlanc Family Recipes. Let's embark on a
        flavor-filled escapade that will leave your taste buds cheering, your funny bone tickled, and your heart craving
        seconds. Welcome to our savory sanctuary—where food, family, and fun blend together like the perfect recipe.
        <br><br>
        Bon appétit, my friend!
      </p>
    </div>
    <!-- Create a link that redirects to add recipe page -->
    <div class="col-md-4">
      <a href="/recipes/new" class="btn btn-primary" id="addRecipe">Add your own recipe</a>
    </div>

  </div>



  <%- include('./partials/footer') %>