body {
  margin: 5rem;
  padding: 2rem;

  font: 10rem "Lucida Grande", Helvetica, Arial, sans-serif;
  /* add background image from assets/IMG-5338.jpeg */

  background-size: cover;
  background-repeat: no-repeat;

}

#searchBtn {
  color: darkslateblue;
  border-color: darkslateblue;
}

#searchBtn:hover {
  color: white;
  background-color: darkslateblue;
  transition: background-color 0.3s, color 0.3s
}


#welcomeTitle {
  font-size: 4rem;
  padding-bottom: 3rem;
  font-weight: bold;
  font-family: 'Sacramento', cursive;
  color: darkslateblue;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;

  font-family: 'Sacramento', cursive;
}

.nav-link {
  text-align: right;
  justify-items: flex-end;
}

.container {
  font-family: 'Handlee', cursive, sans-serif;
  padding: 4rem;
}

.information,
.form-group {
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Handlee', cursive, sans-serif;
  padding: 1rem;
}

.aboutMe,
.aboutMeHeader {
  margin: 1rem;
  font-family: 'Handlee', cursive, sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

ul {
  list-style-type: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0.5rem;
  width: 100%;
  color: darkgray;
  text-align: center;
}

#addIngredient.btn-primary,
#saveRecipe.btn-primary,
#addReview.btn-primary,
#updateRecipe.btn-primary,
#returnHome.btn-primary {
  border-color: darkslateblue;
  color: darkslateblue;
  background-color: antiquewhite;
}

#addIngredient.btn-primary:hover,
#saveRecipe.btn-primary:hover,
#addReview.btn-primary:hover,
#updateRecipe.btn-primary:hover,
#returnHome.btn-primary:hover {

  background-color: rgb(214, 201, 185);
}



.login img {
  height: 2rem;
  justify-content: right;
  align-items: center;
}

@media only screen and (max-width: 1400px) {
  a.navbar-brand {
    font-size: 1rem;
  }

  a.nav-link {
    font-size: 1rem;
  }

}

@media only screen and (max-width: 600px) {
  a.navbar-brand {
    font-size: 1rem;
  }

  a.nav-link {
    font-size: 1rem;
  }

}