body {
  padding: 5rem;
  font: 10rem "Lucida Grande", Helvetica, Arial, sans-serif;

}

ul {
  list-style-type: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 1rem;
  width: 100%;
  color: darkgray;
  text-align: center;
}



.login img {
  height: 2rem;
  justify-content: right;
  align-items: center;
}