<%- include('../partials/header') %>

<!-- Create the new recipe by adding the ingredients one by one, and adding the howTo as one string-->
<div class="container mt-5">

  <h1>Add New Recipe</h1>

  <form id="new-form" action="/recipes" method="POST">

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title">
    </div>

    <div class="form-group">
      <label for="howTo">How To</label>
      <textarea class="form-control" id="howTo" name="howTo"></textarea>
    </div>

    <div class="form-group">
      <label for="ingredient">Ingredient</label>
      <input type="text" class="form-control" id="ingredient" name="ingredient">
    </div>

    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="text" class="form-control" id="amount" name="amount">
    </div>

    <button type="submit" class="btn btn-primary m-3">Save Recipe</button>
  </form>

</div>

<!--     
    <button type="button" id="addIngredient">Add Ingredient</button> -->

  
  
 <!-- List of added ingredients -->
  <!-- <ul id="ingredient-list"></ul>

  <script>
  const addIngredientBtn = document.getElementById('addIngredient');
  const ingredientList = document.getElementById('ingredient-list');

  addIngredientBtn.addEventListener('click', function() {
    const ingredient = document.getElementById('ingredient').value;
    const amount = document.getElementById('amount').value;
    
    const li = document.createElement('li');
    li.innerText = `${ingredient} - ${amount}`;
    
    ingredientList.appendChild(li);
  });
  </script>  -->



</form>




<%- include('../partials/footer') %>