<%- include('../partials/header') %>

  <!-- Create the new recipe by adding the ingredients one by one, and adding the howTo as one string-->
  <div class="container mt-5">

    <h1>Add New Recipe</h1>

    <form id="new-form" action="/recipes" method="POST">

      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title">
      </div>

      <div class="form-group">
        <label for="howTo">How To</label>
        <textarea class="form-control" id="howTo" name="howTo"></textarea>
      </div>

      <!-- show the ingredients that are added by the addIngredient button -->
      <div class="form-group">
        <label for="ingredientList">Ingredients</label>
        <text class="form-control" id="ingredientList" name="ingredientList"></text>
        <input type="hidden" id="ingredientListHidden" name="ingredientListHidden">
      </div>


      <div class="form-group">
        <label for="ingredient">Ingredient (Please avoid using "-")</label>
        <input type="text" class="form-control" id="ingredient" name="ingredient">
      </div>

      <div class="form-group">
        <label for="amount">Amount (Please avoid using "-")</label>
        <input type="text" class="form-control" id="amount" name="amount">
      </div>

      <button type="button" class="btn btn-primary m-3" id="addIngredient">Add Ingredient</button>

      <button type="submit" class="btn btn-primary m-3" id="saveRecipe">Save Recipe</button>
    </form>

    <!-- keep this script outside of the form -->
    <script>
      const addIngredientBtn = document.getElementById('addIngredient');
      const ingredientList = document.getElementById('ingredientList');
      const ingredientListHidden = document.getElementById('ingredientListHidden');

      addIngredientBtn.addEventListener('click', function () {
        const ingredient = document.getElementById('ingredient').value;
        const amount = document.getElementById('amount').value;

        const li = document.createElement('li');
        li.innerText = `${ingredient} - ${amount},`;

        ingredientList.appendChild(li);
      });
      document.getElementById('new-form').addEventListener('submit', function () {
        ingredientListHidden.value = ingredientList.textContent;
      });      
    </script>
  </div>





  <%- include('../partials/footer') %>